@using TechGather.Web.ViewModels.Event
@model AllEventViewModel

<div class="card col-4" style="width: 20rem; background-color:aquamarine;">
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Name</h5>
        <p class="mb-0"><span class="fw-bold">City: </span>@Model.City</p>
        <p class="mb-0"><span class="fw-bold">Date: </span>@Model.Date</p>
        <p class="mb-0"><span class="fw-bold">Category: </span>@Model.Category</p>
    </div>

    <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">View Details</a>

    @*     @if (User?.Identity?.Name == e.Organiser.UserName)
    {
    <a asp-controller="Event" asp-action="Edit" asp-route-id="@e.Id"  class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
    }
    else
    {
    <form class="input-group-sm " asp-controller="Event" asp-action="Join" asp-route-eventId="@e.Id">
    <input type="submit" value="Join the Event" class="fs-6 btn btn-warning mb-2 w-100 p-3 fw-bold"/>
    </form>
    } *@
</div>